@import "tailwindcss";

@import "flowbite/src/themes/default";

@import "flowbite-vue/index.css";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@source "../node_modules/flowbite-vue";

@custom-variant dark (&:where(.dark, .dark *));
